<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="./static/fontawesome-free-6.6.0-web/css/all.min.css" rel="stylesheet">
    <link href="./static/index.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <div class="container">
        <h1>photo</h1>
        <div class="flex">
            <form class="flex" id="submit">
                <input type="text" id="search" placeholder="查找">
                <button type="submit" class="search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <!-- 搜索结果组件 -->
        <div class="search-result">
            <h2>抱歉，没有找到相关内容</h2>
            <p>请尝试其他关键词或检查拼写。</p>
        </div>
        <div class="gallery">
            <figure>
                <img src="./static/images/e0 (1).png" alt="图片1">
                <figcaption>图片1描述</figcaption>
            </figure>
            <figure>
                <img src="./static/images/e0 (1).png" alt="图片2">
                <figcaption>图片2描述</figcaption>
            </figure>
            <figure>
                <img src="./static/images/e0 (1).png" alt="图片3">
                <figcaption>图片3描述5665544465646454645645666446</figcaption>
            </figure>
            <!-- 更多图片可以继续添加figure标签 -->
            <figure>
                <img src="./static/images/e0 (3).png" alt="图片1">
                <figcaption>图片1描述</figcaption>
            </figure>
            <figure>
                <img src="./static/images/bi-girl01.jpg" alt="图片2">
                <figcaption>图片2描述</figcaption>
            </figure>
            <figure>
                <img src="./static/images/e0 (1).png" alt="图片3">
                <figcaption>图片3描述5665544465646454645645666446</figcaption>
            </figure>
        </div>
    </div>
    <script src="./static/index.js"></script>
</body>

</html>